* { /* Para nao deixa espaços em branco*/
    margin: 0;
    padding: 0%;
    /*box-sizing: border-box; /*Considerar o tamanho de 580px*/
}

ul {
    list-style: none; /* remove os pontos da lista*/
}

body { 
    background-image: url(./assets/bg.jpg); /*link da imagem */
    background-position: top center; /* posicionamento do fundo, topo-centralizado*/
    background-size: 100% auto; /* 100% de largura disponivel, auto - altura automatico*/
    background-repeat: no-repeat; /*Para não repetir o background*/
    background-color: #121214; /* Formato de cor*/
}

body * {
    font-family: 'inter', sans-serif;
    line-height: 160%;
}

header { /* Espaçamento no topo */
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div {  /* Tamanho do espaçamento da imagem*/
    width: 120px;
    margin: auto; /*Alinhar no meio*/
    background-image: linear-gradient(90deg,#9572FC 0%, #43E7AD 50.52%, #E2D45C 100%); /*Preenchimento de imagem*/

    border-radius: 50%;

    display: flex; /* Faz um elemento ficar ao lado do outro, como só tem um fica dentro*/
    padding: 4px;

    transition: transform .3s;
}

header div:hover { 
    transform: scale(1.1)
}

header div img { /*tamanho da foto*/
    width: 100%; /* = 120px*/
    border-radius: 50%;
}

main { 
    max-width: 580px;
    width: 90%; 
    margin: 32px auto;

    display: grid; /*espaçamento entre caixas*/
    gap: 24px;
}

section { 
    color: white;
    background-image: linear-gradient(90deg,#9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div { 
    background-color: #2A2634; 
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul  { 
    display: flex;
    flex-wrap: flex; /*Caso tenham mais recursos, ele joga pra baixo*/
    gap: 20px;

    margin-top: 24px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

.courses-list img {
    width: 70px;
    border-radius: 20px; /*Arredondamento da borda*/
}

.steps-list img {
    border-radius: 50%;
    width: 60%;
    border: 1px solid #443e54;
}


/*animation*/

header div {
    animation:fromTop .7s .3s backwards; /*0,7s - tempo de execução 0,3s - delay*/
}

main section {
    animation: fromBottom .8s backwards;
}

main section:nth-child(1) { /*Qual filho do section eu quero animar*/
    animation-delay: 0;
}

main section:nth-child(2) { 
    animation-delay: .3s;
}

main section:nth-child(3) { 
    animation-delay: .6s;
}

@keyframes fromTop { /*Animação da cabeça*/
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom { /*Animação das cards*/
    from{
        opacity: 0;
        transform: translateX(-30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    } 
}